<%- include('adminheader') %>


<body>

    <section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">Aeshion</span>
		</a>
		<ul class="side-menu top">
			<li >
				<a href="/admin/">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li class="active">
				<a href="#">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">Product Management</span>
				</a>
			</li>
			<li>
				<a href="contacts.html">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Order Management</span>
				</a>
			</li>
			<li >
				<a href="#">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Category Management</span>
				</a>
			</li>
			<li >
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">User Management</span>
				</a>
			</li>

            <li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Banner Management</span>
				</a>
			</li>

            <li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Coupun Management</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
    
    
    
        <div class=" p-t-130 p-b-100 font-poppins">
    
        
                
                     
                <div class="wrapper wrapper--w680">
                    <div class="card card-4">
                    <div class="card-body">
                        <h2 class="title">Edit Banner</h2>
                        
                        
                        <form id="addProductForm"  action="/admin/edit-banner" method="post" enctype="multipart/form-data">
                            <input type="text" name="_id" value="<%=banner._id%>" style="height: 0px; visibility: hidden;">
                            <div class="row row-space">


                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Banner name</label>
                                        <input class="input--style-4" type="text" name="name" value="<%=banner.name%>">
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="input-group">
                                        <label  for="Category">Category </label>
                                        <!-- <input type="text" name="category" placeholder="Category"> -->
                                        <select class="input--style-4" name="category" placeholder="category" required>
                                          
                                                <option value="main-banner">Main Banner</option>
                                              
                                                <option value="sub-banner">sub Banner</option>
                                              
                                         
                                        </select>
                                        
                                    </div>
                                </div>                        

                            </div>
                        

                            <div class="row row-space">
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Main-Img</label>
                                        <input class="input--style-4" style="margin-bottom: 10px;" type="file" name="image" accept="image/*">
                                        <div id="singleImage">

                                            <img src="http://localhost:3000/product-images/<%=banner.mainImage.filename %>" alt="" style="width: 250px;" />
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">side-Img</label>
                                        <input class="input--style-4" style="margin-bottom: 10px;" type="file" name="images" accept="image/*"  multiple >

                                        <% banner.sideImages.forEach(item => { %>
                                            <div id="multiImage">
                                                <img src="http://localhost:3000/product-images/<%=item.filename %>" style="width: 250px;" alt="" />
                                            </div>
                                            <% }) %>

                                    </div>
                                </div>
                                                       
                                <div class="col-2">
                                    <div class="input-group">
                                        <label class="label">Description</label>
                                        <textarea class="input--style-4" name="description" rows="4" form="addProductForm" value="<%=banner.description%>" placeholder="Description"><% banner.description %></textarea>
                                    </div>
                                </div>
                              
                              
                            </div>
    
                            <div class="p-t-15">
                                <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
    
       
    
        </div>
    
    
    

</body>






























<%- include('footer') %>
